.header{
  height: 170px;
  width: 100%;
  /* background-color: bisque; */
  padding-top: 10px;
  display: block;
  /* margin: 0 auto; */
  /* text-align: center; */
}
.todo{
  padding-bottom: 100px;
  padding-top: 60px;

  
}
.header h1{
  color: #51d928;
  font-size: 60px;
  
}

*{
  margin: 0px;
}
.containr{
  background-image: url('background.png');
  background-size: cover; 
  background-attachment: fixed; 
    width: 100%;
    height: 100vh;

}
.overflw{
  overflow-anchor: none;
  /* overflow-y: scroll; */
  overflow: auto;
  height:100px;
  /* overflow: hidden;   */
}
/* #rout{
  background-image: url('background.png');
  background-size: cover; 
    width: 100%;
    height: 100vh;

} */

